@charset "utf-8";

/* Fonts */

@font-face {
    font-family: "Neue Haas";
    src: url("fonts/NeueHaas/NeueHaasDisplayBold.ttf") format("truetype");
}

/* Page Design Foundation */

body {
    background-color: #F1EDE8;
    font-family: "Neue Haas", sans-serif;    
    margin: 0;
    color: #2B2B2B;
}

.orange-link {
    color: #D86044;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}


/* NAV STYLING */

.logo-nav img {
    width: 100%;
    display: block;
}

/* LINKS */
.navLinks {
    font-size: 0.85rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.08em;

    color: #2B2B2B;
    text-decoration: none;

    border-bottom: 2px solid #2b2b2b;
    padding-bottom: 0.2rem;

    transition: color 0.2s ease, border-color 0.2s ease;
}

.navLinks:hover {
    color: #D86044;
    border-bottom-color: #D86044;
}

/* HERO SECTION */ 

#hero-container {
    display: flex;
    align-items: end;
    height: 85vh;
}

#hero-image{
    width:90%;
}

/* CTA Header */

#CTA-header {
    background-color: #2B2B2B;
    color: #F1EDE8;
}

#CTA-header h1 {
    font-size: 500%;
}

#CTA-header p{
    height: 20%;
}

#CTA-header span img {
    width: 15px;
}

.container-stamp {
    display: flex;
}

/* Testimonials Styles */

#testimonials-container h1 {
    font-size: 500%;
    margin: 0;
}

#test-col1 span img {
    width: 20px;
}

#test-col1 p {
    font-size: 150%;
}

#test-col2 img {
    width: 350px;
    border-radius: 3em;
}

#test-col3 p {
    color: #747474;
    font-size: 500%
}
#stamp-testimonial {
    width: 100%;
    border-top: 2px solid #2B2B2B;
    border-bottom: 2px solid #2B2B2B;
}

/* CTA container */

#CTA-container {
    background-color: #DCD3C4;
    position: relative;
}

#CTA-container .container-stamp {
    border-top: 2px solid #2B2B2B;
    border-bottom: 2px solid #2B2B2B;
}

#CTA-container h1 {
    font-size: 300%;
    text-align: center;
    text-decoration: underline;
}

#CTA-container #left-align-head {
    position: absolute;
    top: 0;
    left: 30px;
}

#contact-link div {
    border-bottom: solid 2px #2B2B2B;
    margin-bottom: .5em;
}

#contact-link img:last-of-type {
    padding-left: 10em;
}

.icons {
    width: 30px;
}

/*Services Styles */

#card-header h1 {
    font-size: 500%;
    margin: 0 0 0 50px;
}
#card-header p {
    font-size: 150%;
    padding-left: 20em;
}

#card-header {
    border-bottom: #2B2B2B 2px solid;
    margin-bottom: 2em;
}

.card h2 {
    font-size: 250%;
}


#card1 {
    background-color: #DCD3C4;
}

#card2 {
    background-color: #2B2B2B;
}

#card3 {
    background-color: #D86044;
}

#card2 {
    color: #DCD3C4;
}

#card3 a {
    color: #2B2B2B;
}

/* Footer Styles */

footer {
    background-color: #2B2B2B;
}
/* Upper Footer Styles */

#cr-footer {
    color: #F1EDE8;
    margin-left: 1em;
}
footer ul {
    padding-right: 5em;
}

footer ul li {
    color: #4A4A4A;
    list-style-type: none;
    margin-bottom: 1em;
}
footer a {
    color: #4A4A4A;
    text-decoration: none;
}

#upper-footer {
    border-bottom: 3px solid #4A4A4A;
}

#upper-footer img {
    width: 150px;
    padding: 1em .5em;
}

/* Lower Footer Styles */

footer #lower-footer a {
    color: #F1EDE8;
    align-self: flex-end;
    margin-bottom: 10px;
}
